@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /*PRIMARIOS*/
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    /*SECUNDARIOS*/
    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Dark-cyan);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
    font-family: "Kumbh Sans";
    font-size: 18px;
    text-align: center;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.tarjeta {
    background-color: white;
    width: 350px;
    border-radius: 20px;
    position: relative;
}

div.tarjeta img:first-child {
    border-radius: 20px 20px 0 0 ;
}

img.avatar {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 24%;
    margin: auto;
    border: 5px solid white;
    border-radius: 50px;
}

div.tarjeta p.nombre {
    margin-top: 70px;
}

div.tarjeta p.nombre span {
    margin-left: 5px;
    color: var(--Dark-grayish-blue);
    font-weight: 400;
}

div.tarjeta p.nombre + p {
    font-size: 0.8em;
    color: var(--Dark-gray);
    font-weight: 400;
    margin: 10px 0 20px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    border-top: 1px solid gainsboro;
}

ul li {
    padding: 25px;
}

.letra__liviana {
    font-weight: 400;
    color: var(--Dark-gray);
}

p.texto {
    letter-spacing: 0.14em;
    font-size: 0.6em;
    color: var(--Dark-gray);
}

main>img {
    position: absolute;
}

.bg__top {
    bottom: 40vh;
    right: 51vw;
}

.bg__bottom {
    bottom: -40vh;
    left: 48vw;
}

