@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*PRIMARIOS*/
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  /*SECUNDARIOS*/
  --dark-gray: hsl(0, 0%, 59%);
  /*FUENTES*/
  --primary-font: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  background-color: var(--dark-cyan);
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 40vh, left 50vw top 50vh;
  color: var(--very-dark-desaturated-blue);
}

.main-container {
  display: flex;
  justify-content: center;
  width: 95%;
}

.card {
  position: relative;
  width: 100%;
  max-width: 35rem;
  border-radius: 2rem;
  background-color: white;
  overflow: hidden;
}

.card-pattern {
  width: 100%;
}

.card-avatar {
  position: absolute;
  left: 0;
  right: 0;
  top: 24%;
  display: block;
  margin: auto;
  border: 5px solid white;
  border-radius: 5rem;
}

.card-name {
  margin-top: 7rem;
  font-size: 1.8rem;
}

.card-name span {
  margin-left: 0.5rem;
  font-weight: 400;
  color: var(--Dark-grayish-blue);
}

.card-location {
  margin: 1rem 0 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--Dark-gray);
}

.card-stats {
  display: flex;
  justify-content: center;
  border-top: 1px solid gainsboro;
  list-style-type: none;
}

.card-stats li {
  padding: 2.5rem;
}

.card-stats p:last-child {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--Dark-gray);
}

main > img {
  position: absolute;
}

.bg__top {
  bottom: 40vh;
  right: 51vw;
}

.bg__bottom {
  bottom: -40vh;
  left: 48vw;
}

@media (width < 350px) {
  .card-avatar {
    width: 9.5rem;
  }

  .card-stats li {
    padding: 1.7rem;
  }

  .card-name {
    margin-top: 8rem;
  }
}
